#jumbo{
    margin-bottom: 0;
    -webkit-animation: fadeInDown 1.5s ease-in-out;
    animation: fadeInDown 1.5s ease-in-out;
}
#jumbo-pricing{
    margin-bottom: 0;
    -webkit-animation: fadeInDown 1.5s ease-in-out;
    animation: fadeInDown 1.5s ease-in-out;
    width: 100%;
}
.carousel{
    margin: 0;
    margin-top: 0;
    -webkit-animation: fadeInUp 1.5s ease-in-out;
    animation: fadeInUp 1.5s ease-in-out;
}
.fresh{
    text-align: center;
    padding: 50px;
    font-family: 'Quicksand', sans-serif;
}
#navlink{
    color: black;
}
#navlink:hover{
    color: #006994;
}
.row{
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
}
.card{
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    -webkit-animation: fadeInUp 1.5s ease-in-out;
    animation: fadeInUp 1.5s ease-in-out;
}
#social-cards{
    max-width: 500px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: fadeInUp 1.5s ease-in-out;
    animation: fadeInUp 1.5s ease-in-out;
}
.card-text{
    font-size: 40px;
    color: green;
}
#social-cards-text{
    color: black;
    font-size: 18px;
}
#pricing-pic{
    width: 100%;
    -webkit-animation: fadeInUp 1.5s ease-in-out;
    animation: fadeInUp 1.5s ease-in-out;
}
#footer{
    background-color: gray;
    height: 5%;
    width: 100%;
    display: block;
    color: white;
}
.footer-content h4{
    text-align: center;
}
.sm-body{
    background-image: url('https://wallpaper.dog/large/10913948.jpg');
    background-attachment: fixed;
}
#about-row{
    
}
.col-sm-3 img{
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    -webkit-animation: fadeInUp 1.5s ease-in-out;
    animation: fadeInUp 1.5s ease-in-out;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@media(max-width: 768px){
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
    }
    .card{
        max-width: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
}
@media(max-width: 1000px){
    .row{
        max-width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 25%;
    }
}